.main {
  position: relative;
  width: 99vw;
  will-change: auto;
}
.h1 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 120px;
  left: 0;
  right: 0;
  text-align: center;
  color: var(--color-text);
  font-size: 60px;
}
.ul {
  color: var(--color-text);
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
  margin-top: 70px;
  text-decoration: none;
  list-style-type: none;
  display: grid;
  row-gap: 80px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  justify-content: start;
  align-items: start;
  align-content: start;
  margin-bottom: 70px;
  a {
    cursor: pointer;
    border: 2px solid #6d7575;
    border-radius: 8px;
    width: 400px;
    height: 250px;
    font-size: 25px;
  }
  a:hover {
    transform: scale(1.1);
  }
  a img {
    transition: all 0.125s ease-in-out;
  }
  a:hover img {
    transform: scale(1.05);
  }
}
.description {
  max-width: 1200px;
  color: var(--color-text);
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 0 70px;
}
.layers {
  position: relative;
  width: 99vw;
  min-height: 860px;
  overflow: hidden;
  box-shadow: 0 8px 20px -3px rgba(145, 145, 145, 0.8);
}
.layers__container {
  position: absolute;
  top: -40px;
  width: 100vw;
  min-height: 900px;
  overflow: hidden;
  scale: 0.9998;
}
.layers__item {
  width: 100vw;
  min-height: 900px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  will-change: transform;
}
.layer_1 {
  background-image: url("./../../images/layer-1.png");
  position: absolute;
  z-index: -1;
  will-change: transform;
}
.layer_2 {
  background-image: url("./../../images/layer-2.png");
  position: absolute;
  z-index: 1;
}
.layer_3 {
  background-image: url("./../../images/layer-3.png");
  position: absolute;
  z-index: 2;
  will-change: animation;
  animation-name: car;
  animation-delay: 0.5s;
  animation-duration: 4.5s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes car {
  from {
    transform: translateX(-5px);
  }
  to {
    transform: translateX(5px);
  }
}
.photo {
  width: 400px;
  height: 250px;
  color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color-text);
  border: none;
}
.photo_1 {
  background-image: url('./../../images/БФдвигатель.png');
}
.photo_2 {
  background-image: url("./../../images/БФкузов.png");
}
.photo_3 {
  background-image: url("./../../images/БФподвеска.png");
}
.photo_4 {
  background-image: url("./../../images/БФсалон.png");
  width: 455px;
  height: 290px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.item {
  box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.35);
  background-color: rgba(255, 255, 255, 0.05);
  background-image: radial-gradient(ellipse, #d0d0d0, transparent);
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paragraph {
  color: #ffffff;
  border: 5px solid #ccc7c7;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  opacity: 0;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.photo:active ~ .paragraph {
  transition: background-color 0.03s ease-in-out;
  background-color: #2584ff;
}
.paragraph:active {
  background-color: #2584ff;
  transition: background-color 0.03s ease-in-out;
}
.item > .paragraph {
  transition: all 0.5s ease-in-out;
}
.item:hover > .paragraph {
  transform: translate(-50%, -50%) scale(1.2);
  opacity: 1;
}
.item > .photo {
  transition: all 0.5s ease-in-out;
}
.item:hover > .photo {
  filter: blur(3px);
  transform: scale(0.88);
}
.item_4:hover > .photo {
  filter: blur(2px);
  transform: translate(-50%, -50%) scale(0.88);
}
.item::before {
  background-image: radial-gradient(ellipse, #2584ff, transparent);
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.item:hover::before {
  opacity: 1;
}
.text {
  font-size: 18px;
  color: var(--color-text);
}
.item_1 {
}
.item_2 {
}
.item_3 {
}
.item_4 {
}
.nodes > h2 {
  color: var(--color-text);
  font-size: 50px;
  font-weight: 500;
  margin-top: 60px;
  text-align: center;
}
