.footer {
  flex-shrink: 0;
  color: var(--color-text);
  background-color: var(--color-primary-secondary);
}
.footer__frame {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    gap: 40px;
    border-bottom: 1px solid var(--color-text);
    a {
      cursor: pointer;
      transition: color;
      transition-delay: 0.1s;
      transition-duration: 0.25s;
    }
    a:hover {
      color: var(--color-text-bg);
    }
  }
  p {
    padding: 20px;
    text-align: center;
  }
}
