:root {
  --color-primary: #525d61;
  --color-primary-secondary: #282c2e;
  --color-main: #7a7e56;
  --color-additional: #7e5a56;
  --color-text: #feffff;
  --color-text-gold: #e68d37;
  --color-text-bg: #3773f4;
}

html {
  /* width: 1536px; */
  max-width: 1536px;
}

/* #fcc289 */
@font-face {
  font-family: "TTFirsNeue-Regular";
  src: url("../font/ttfirsneue-regular.eot"); /* IE 9 Compatibility Mode */
  src: url("../font/ttfirsneue-regular.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../font/ttfirsneue-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../font/ttfirsneue-regular.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../font/ttfirsneue-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../font/ttfirsneue-regular.svg#ttfirsneue-regular") format("svg"); /* Chrome < 4, Legacy iOS */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "TTFirsNeue-Regular";
}

body {
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  background: linear-gradient(90deg, #484c56, #373a40, #22242a);
}
a,
ul,
ol {
  text-decoration: none;
  list-style-type: none;
}
.app {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.h1,
.layers__item {
  will-change: scroll-position;
}
