.slider {
  position: relative;
  margin: 30px auto;
}
.window {
  width: 100%;
  height: 580px;
  overflow: hidden;
  box-shadow: 0px 0px 50px 25px rgba(55, 58, 64, 0.6);
  border-radius: 5px;
  position: relative;
}
.slide-list {
  position: relative;
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.arrows {
  width: 130%;
  color: white;
  display: flex;
  font-size: 30px;
  justify-content: space-between;
  height: max-content;
  position: absolute;
  top: 35%;
  margin: 0 auto;
  left: -150px;
  .arrow {
    color: var(--color-text);
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin: 30px;
    border: 3px solid #ccc7c7;
    padding: 18px;
    border-radius: 5px;
  }
  .arrow:hover {
    background-color: #7baff3;
    transition: background-color 0.1s ease-in-out;
  }
  .arrow:active {
    background-color: #3f90fa;
  }
}
.photo {
  box-shadow: inset 0px 0px 30px 5px rgba(34, 36, 42, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  filter: blur(5px);
}

.dots {
  margin: 20px;
  padding-top: 10px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  .dot {
    width: 20px;
    height: 20px;
    color: var(--color-text);
    cursor: pointer;
    transition: color 0.1s ease-in-out;
  }
  .dot:hover {
    color: #7baff3;
  }
  .dot:active {
    color: #3f90fa;
  }
  .selected {
    color: #3f90fa;
  }
}

.coincidental {
  animation: fadeIn;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  will-change: animation;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

.slide-image {
  box-shadow: inset 0px 0px 30px 5px rgba(34, 36, 42, 0.6);
  filter: blur(5px);
  display: flex;
  margin: 0 auto;
  max-height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  user-select: none;
}
.loading {
  height: 100%;
  width: 100%;
  background-color: #65686f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-size: 25px;
  color: #92959c;
  opacity: 0.7;
}

.spinner {
  animation: spinner 1s infinite linear;
  color: #92959c;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
